header {
      width: 100%;
      padding: 15px;
      margin-bottom: 30px;
      background-color:#57D1C9;
    }
 
    footer{
      width: 100%;
      padding: 15px;
      margin-top: 30px;
      background-color: #F68655;
    }
 
    .partial {
      border: 1px solid red;
      padding: 15px;
    }
    
    table th {
      background-color: #3b9a9c;
        padding: 10px 20px;
    }
 
    table td {
      background-color: #96ceb4;
        padding: 10px 20px;
    }
 
    .notice {
        background-color: #ccf;
        padding: 5px;
    }
    h3 {
      font-size: 26px;
    }